# Calling API to retrieve JSONs for exchange rate on historical dates

In [44]:
import os
import pandas as pd
from zipfile import ZipFile
import datetime
from datetime import date
from datetime import datetime
import requests
import json

In [9]:
# setting up csv to be able to retrieve information

zf = ZipFile('archive.zip', 'r')
zf.extract('wfp_food_prices_database.csv')
zf.close()

df = pd.read_csv('wfp_food_prices_database.csv')
os.remove('wfp_food_prices_database.csv')
df.head(5)

C:\Users\gigaw\AppData\Local\Temp\ipykernel_18724\2287887304.py:7: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('wfp_food_prices_database.csv')

,adm0_id,adm0_name,adm1_id,adm1_name,mkt_id,mkt_name,cm_id,cm_name,cur_id,cur_name,pt_id,pt_name,um_id,um_name,mp_month,mp_year,mp_price,mp_commoditysource
0,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,1,2014,50.0,NaN
1,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,2,2014,50.0,NaN
2,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,3,2014,50.0,NaN
3,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,4,2014,50.0,NaN
4,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,5,2014,50.0,NaN

In [10]:
# Create Datetime object for each row
# Isolate just the month and date of each row
tempDayMonthDF = df.loc[:, 'mp_month':'mp_year']

# Define a temp method for creating a datetime object from a row of our dataframe
def _create_datetime(row):
    return datetime.date(row[1], row[0], 1)

# Add new datetime row to the dataframe
tempDayMonthDF = tempDayMonthDF.apply(_create_datetime, axis=1)
df.insert(0, 'Date', tempDayMonthDF)
df.head()

C:\Users\gigaw\AppData\Local\Temp\ipykernel_18724\1888271520.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  return datetime.date(row[1], row[0], 1)

,Date,adm0_id,adm0_name,adm1_id,adm1_name,mkt_id,mkt_name,cm_id,cm_name,cur_id,cur_name,pt_id,pt_name,um_id,um_name,mp_month,mp_year,mp_price,mp_commoditysource
0,2014-01-01,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,1,2014,50.0,NaN
1,2014-02-01,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,2,2014,50.0,NaN
2,2014-03-01,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,3,2014,50.0,NaN
3,2014-04-01,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,4,2014,50.0,NaN
4,2014-05-01,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,5,2014,50.0,NaN

In [11]:
# retrieve unique currencies from database
symbols = list(df['cur_name'].unique())

#Add new versions of depricated currencies
symbols.extend(['ILS', 'BYN', 'MRU', 'SLE', 'VEF'])

symbols.sort()
symbolsString = ', '.join(symbols)
symbols

['AFN',
 'AMD',
 'AOA',
 'ARS',
 'AZN',
 'BDT',
 'BIF',
 'BOB',
 'BTN',
 'BYN',
 'BYR',
 'CDF',
 'CNY',
 'COP',
 'CVE',
 'DJF',
 'DOP',
 'DZD',
 'EGP',
 'ERN',
 'ETB',
 'GEL',
 'GHS',
 'GMD',
 'GNF',
 'GTQ',
 'HNL',
 'HTG',
 'IDR',
 'ILS',
 'INR',
 'IQD',
 'IRR',
 'JOD',
 'JPY',
 'KES',
 'KGS',
 'KHR',
 'KZT',
 'LAK',
 'LBP',
 'LKR',
 'LRD',
 'LSL',
 'LYD',
 'MDL',
 'MGA',
 'MMK',
 'MNT',
 'MRO',
 'MRU',
 'MWK',
 'MXN',
 'MZN',
 'NAD',
 'NGN',
 'NIO',
 'NIS',
 'NPR',
 'PAB',
 'PEN',
 'PHP',
 'PKR',
 'PYG',
 'RUB',
 'RWF',
 'SDG',
 'SLE',
 'SLL',
 'SOS',
 'SSP',
 'SYP',
 'SZL',
 'THB',
 'TJS',
 'TRY',
 'TZS',
 'UAH',
 'UGX',
 'USD',
 'VEF',
 'VEF',
 'VND',
 'XAF',
 'XOF',
 'YER',
 'ZAR',
 'ZMW']

In [12]:
# retrieve all unique dates in or after 1999 from database
uniqueDates = list(df['Date'].unique())
uniqueDates
past_1999Dates = list(filter(lambda x: x.year >= 1999, uniqueDates))
past_1999Dates
min(past_1999Dates)

datetime.date(1999, 1, 1)

In [13]:
#testing format of converting date to string
tempDate = min(past_1999Dates)
tempDate.strftime('%Y-%m-%d')

'1999-01-01'

In [14]:
# setting up API calling parameters
url = 'http://api.exchangeratesapi.io/v1/'
key = ''
base = 'USD'

responsesDict = dict() 

for date in uniqueDates:
    dateString = date.strftime('%Y-%m-%d')
    requestString ="{url}/{date}?access_key={api_key}&base=USD&symbols={symbols}".format(url=url,date=date,api_key=key,symbols=symbolsString)
    responseJson = requests.get(requestString).json()
    responsesDict[date.strftime('%Y-%m-%d')]=responseJson

with open('exchange_rates.json', 'w') as f:
    json.dump(responsesDict, f)

## Generate a JSON where the keys are currencies and the values are timestamps

In [31]:
with open('exchange_rates.json','r') as f:
    all_rates = json.load(f)

currency_timestamps = {}

for date, values in all_rates.items():
    try:
        rates = values['rates']

        for currency, rate in rates.items():
            if currency not in currency_timestamps:
                currency_timestamps[currency] = []
            currency_timestamps[currency].append(date)
    except:
        # print("No 'rates' for " + date)
        # print(values)
        continue

    

with open('currency_timestamps.json', 'w') as f:
    json.dump(currency_timestamps, f)

## Example of finding the closest date for a given currency using this new JSON

In [59]:
with open('currency_timestamps.json', 'r') as f:
    all_currency_timestamps = json.load(f)

currecny = 'AFN'
queried_date = datetime.fromisoformat("2010-01-11")

date_list = all_currency_timestamps[currency]

closest_date = min(date_list, key=lambda list_element: abs(datetime.fromisoformat(list_element) - queried_date))

print("Queried Date: " + queried_date.strftime("%Y-%m-%d") + "\nClosest Date: " + closest_date)

Queried Date: 2010-01-11
Closest Date: 2010-01-01