# Introduction
We used this dataset which we found on Kaggle (https://www.kaggle.com/datasets/salehahmedrony/global-food-prices/data?select=wfp_food_prices_database.csv)

## Project Goals

## Data Analysis

In [17]:
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [3]:
import os
import pandas as pd
from zipfile import ZipFile

zf = ZipFile('archive.zip', 'r')
zf.extract('wfp_food_prices_database.csv')
zf.close()

df = pd.read_csv('wfp_food_prices_database.csv')
os.remove('wfp_food_prices_database.csv')
df.head(5)

C:\Users\Lilly\AppData\Local\Temp\ipykernel_4080\3752664135.py:9: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('wfp_food_prices_database.csv')

,adm0_id,adm0_name,adm1_id,adm1_name,mkt_id,mkt_name,cm_id,cm_name,cur_id,cur_name,pt_id,pt_name,um_id,um_name,mp_month,mp_year,mp_price,mp_commoditysource
0,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,1,2014,50.0,NaN
1,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,2,2014,50.0,NaN
2,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,3,2014,50.0,NaN
3,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,4,2014,50.0,NaN
4,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,5,2014,50.0,NaN

# How are we cleaning the data?
We only want the retail price of each good, given this is the price that the consumer sees each good at.  Additionally, we found that the dataset had 1.4 million data entries for retail prices, while the other categories (ex. farmgate, wholesale, producer) had under 14 thousand entries.  
We also want so that we work with the data per item in each country. 
We want to combine the mp_month and mp_year into a single datetime tuple.  When creating each date time object we assume that data was consisted collected on the 1st of every month.

In [25]:
# print(df['adm0_name'].unique()) #country
# print(df['adm1_name'].unique()) #provence 
print(df['um_name'].unique())

['KG' 'Day' 'Unit' 'L' 'USD/LCU' '30 pcs' '500 G' '125 G' 'Packet' '900 G'
 '50 Pounds' '11.5 KG' 'Pound' 'Cuartilla' 'Libra' '5 L' '10 pcs' '1.5 L'
 '400 G' 'Sack' 'Package' 'Head' 'Month' 'Course' 'Gallon' '168 G'
 '100 KG' '70 G' '200 G' '50 KG' '650 G' '750 ML' '115 G' 'Marmite'
 '350 G' '385 G' '1.8 KG' 'Cylinder' '4 pcs' '150 ml' '5 KG' '2 KG'
 '1.8 L' '170 G' '1.5 KG' '300 G' '0.8 KG' '160 G' '750 G' '12.5 KG'
 '500 ML' '150 G' '20 L' '1.3 KG' '185 G' '10 KG' 'Loaf' '2.25 KG' '5 pcs'
 '200 ML' '250 G' '11 KG' 'Brush' '100 ML' 'Bar' '250 ML' 'Heap' '1.6 KG'
 'Dozen' '100 L' '1.4 KG' '20 G' '3.4 KG' '0.5 KG' '1.1 KG' '2.1 KG'
 '1.2 KG' '3.1 KG' '3.5 KG' 'Bundle' 'LCU/3.5kg' '25 KG' '3 L'
 'Cubic meter' '60 KG' '3 KG' '2.5 KG' '700 G' '800 G' '28 pcs' '900 ML'
 '12 KG' 'kWh' '18 KG']

In [7]:
#  Only keep rows with retail prices
df = df[df['pt_name'] == 'Retail']

array(['Retail'], dtype=object)

In [18]:
# Create Datetime object for each row
# Isolate just the month and date of each row
tempDayMonthDF = df.loc[:, 'mp_month':'mp_year']

# Define a temp method for creating a datetime object from a row of our dataframe
def _create_datetime(row):
    return datetime.date(row[1], row[0], 1)

# Add new datetime row to the dataframe
tempDayMonthDF = tempDayMonthDF.apply(_create_datetime, axis=1)
df.insert(0, "Date", tempDayMonthDF)
df.head()

,Date,adm0_id,adm0_name,adm1_id,adm1_name,mkt_id,mkt_name,cm_id,cm_name,cur_id,cur_name,pt_id,pt_name,um_id,um_name,mp_month,mp_year,mp_price,mp_commoditysource
0,2014-01-01,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,1,2014,50.0,NaN
1,2014-02-01,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,2,2014,50.0,NaN
2,2014-03-01,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,3,2014,50.0,NaN
3,2014-04-01,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,4,2014,50.0,NaN
4,2014-05-01,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,5,2014,50.0,NaN

In [27]:
df = df.drop(columns=['adm0_id','adm1_id','cm_id', 'cur_id', 'mp_commoditysource', 'um_id', 'mp_month', 'mp_year', 'pt_name', 'pt_id', 'mkt_id'])
# df.rename(columns={"A": "a", "B": "c"})
df

,Date,adm0_name,adm1_name,mkt_name,cm_name,cur_name,um_name,mp_price
0,2014-01-01,Afghanistan,Badakhshan,Fayzabad,Bread - Retail,AFN,KG,50.00
1,2014-02-01,Afghanistan,Badakhshan,Fayzabad,Bread - Retail,AFN,KG,50.00
2,2014-03-01,Afghanistan,Badakhshan,Fayzabad,Bread - Retail,AFN,KG,50.00
3,2014-04-01,Afghanistan,Badakhshan,Fayzabad,Bread - Retail,AFN,KG,50.00
4,2014-05-01,Afghanistan,Badakhshan,Fayzabad,Bread - Retail,AFN,KG,50.00
...,...,...,...,...,...,...,...,...
1560546,2017-09-01,Zimbabwe,Midlands,Vhugwi,"Sugar (white, fortified) - Retail",USD,KG,1.50
1560547,2018-03-01,Zimbabwe,Midlands,Murowa,Beans - Retail,USD,KG,2.80
1560548,2018-03-01,Zimbabwe,Midlands,Murowa,Maize - Retail,USD,KG,0.40
1560549,2018-03-01,Zimbabwe,Midlands,Murowa,Oil (vegetable) - Retail,USD,L,2.35
1560550,2018-03-01,Zimbabwe,Midlands,Murowa,"Maize meal (white, roller) - Retail",USD,KG,0.55

# Wishlist
Graphs:
- Price of item in a country (different lines represent different markets)
- Average price of each item in a country (different lines/colors represent different products)
- Global price rates of W.H.O. Staple foods (i.e. corn, rice,potato)

Some way to input what we want to see (i.e. 'rice','global')